:root {
  --background: #323437;
  --fg-grey: #646669;
  --fg-yellow: #e2b714;
  --fg-white: white;
  --fg-red: #ca4754;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  padding-inline: 10vw;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}